<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Type in name of the place. . ." [(ngModel)]="place"
                    aria-label="Add place. . ." aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="addPlace()" type="button">Add place</button>
                </div>
            </div>
        </div>
    </div>
</div>